@charset "UTF-8";

/*
Esquema de cores definidas (paleta de corespara o projeto login)
verde: #49a09d
lílas:#5f2c82

versão mobile first

*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;

}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: block;
   
}
#login {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

}
#login > div#imagem {
    background: #5f2c82 url( ../imagens/sinalvermelho.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
    display: block;
    

}
#login > #formulario {
    padding:10px;
    display: block;

    
    

}

fieldset {
    border-radius: 10px;
    background-color: #5f2c82;
    border :none;
    margin-top: 5px;    
}
h1 {
    text-align: center;
   
}
p {
   color: gray;
   font-size :0.8em;
}





#iusu {
    background-color: #49a09d;
    border: 2px solid #5f2c82 ;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 10px;
    outline-color:darkgoldenrod ;
    padding-right: 25px;
    display: inline-block;
    
    
}
#isen{
    background-color:#49a09d ;
    border:2px solid #5f2c82;
    border-radius: 8px;
    padding-top: 20px;
    padding-left: 10px;
    outline-color:darkgoldenrod ;
    padding-right: 25px;
    display: inline-block;

    
    
}
#lembrar {
    font-size: 0.8em;
    color: gray;
}

    
button {
  width: 230px;
  height: 30px;
  background-color: #49a09d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
}
a{
   
    color: grey;
    text-decoration: none;
    display: block;
    
}
img {
    display: inline-block;
}